<div class="container__big-card">
  <!-- mock content -->
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGh5WFH8TOIfRKxUrIgJZoDCs1yvQ4hIcppw&s"
      alt=""
      height="200px"
      width="400px"
    />
  </div>
  <a href=""> </a>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni provident
        voluptatum atque ea vitae temporibus facere suscipit consectetur earum.
        Illum, fuga autem
      </a>
    </p>
  </div>
</div>
