<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGh5WFH8TOIfRKxUrIgJZoDCs1yvQ4hIcppw&s"
      cardTitle="LOREM ISPUM DOLOR AMET"
      cardDescription="Marvel anuncia novo homem de chifre"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="New series announced on Disney +"
      photoCover="https://imgs.search.brave.com/mtmPdRTOiX63EvsrZLt6PzdcNAxs-LiFNk2j4_NkvMo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wbGF0/Zm9ybS5wb2x5Z29u/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/c2l0ZXMvMi9jaG9y/dXMvdXBsb2Fkcy9j/aG9ydXNfYXNzZXQv/ZmlsZS8xNjIwNjY2/OC90aG9yX3RoZV9k/YXJrX3dvcmxkXzIz/MDUxXzE5MjB4MTIw/MC5qcGc_cXVhbGl0/eT05MCZzdHJpcD1h/bGwmY3JvcD0zLjEy/NSwwLDkzLjc1LDEw/MCZ3PTI0MDA"
    ></app-small-card>

    <app-small-card
      Id="3"
      cardTitle="New series announced on Disney +"
      photoCover="https://imgs.search.brave.com/mtmPdRTOiX63EvsrZLt6PzdcNAxs-LiFNk2j4_NkvMo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wbGF0/Zm9ybS5wb2x5Z29u/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/c2l0ZXMvMi9jaG9y/dXMvdXBsb2Fkcy9j/aG9ydXNfYXNzZXQv/ZmlsZS8xNjIwNjY2/OC90aG9yX3RoZV9k/YXJrX3dvcmxkXzIz/MDUxXzE5MjB4MTIw/MC5qcGc_cXVhbGl0/eT05MCZzdHJpcD1h/bGwmY3JvcD0zLjEy/NSwwLDkzLjc1LDEw/MCZ3PTI0MDA"
    ></app-small-card>

    <app-small-card
      Id="4"
      cardTitle="New series announced on Disney +"
      photoCover="https://imgs.search.brave.com/mtmPdRTOiX63EvsrZLt6PzdcNAxs-LiFNk2j4_NkvMo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wbGF0/Zm9ybS5wb2x5Z29u/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/c2l0ZXMvMi9jaG9y/dXMvdXBsb2Fkcy9j/aG9ydXNfYXNzZXQv/ZmlsZS8xNjIwNjY2/OC90aG9yX3RoZV9k/YXJrX3dvcmxkXzIz/MDUxXzE5MjB4MTIw/MC5qcGc_cXVhbGl0/eT05MCZzdHJpcD1h/bGwmY3JvcD0zLjEy/NSwwLDkzLjc1LDEw/MCZ3PTI0MDA"
    ></app-small-card>
  </div>
</div>
